In [1]:
import pandas as pd

In [7]:
data = {
    "Match 1": [45, 60, 20, 80, 55],
    "Match 2": [30, 50, 40, 90, 65],
    "Match 3": [70, 20, 35, 60, 40],
    "Match 4": [25, 45, 15, 100, 75],
}
players = ["Player 1", "Player 2", "Player 3", "Player 4", "Player 5"]
performance = pd.DataFrame(data, index=players)

In [9]:
data
performance

          Match 1  Match 2  Match 3  Match 4
Player 1       45       30       70       25
Player 2       60       50       20       45
Player 3       20       40       35       15
Player 4       80       90       60      100
Player 5       55       65       40       75

In [17]:
performance.head(3) #Display the first three rows of the performance DataFrame.

          Match 1  Match 2  Match 3  Match 4
Player 1       45       30       70       25
Player 2       60       50       20       45
Player 3       20       40       35       15

In [25]:
num_Player, num_Match = performance.shape #Get the number of players and matches recorded in the DataFrame
print('no. of player',num_Player)
print('no. of match',num_Match)

no. of player 5
no. of match 4

In [27]:
match_names = performance.columns.tolist() #List the match names and player names.
player_names = performance.index.tolist()
print("Match Names:", match_names)
print("Player Names:", player_names)

Match Names: ['Match 1', 'Match 2', 'Match 3', 'Match 4']
Player Names: ['Player 1', 'Player 2', 'Player 3', 'Player 4', 'Player 5']

In [29]:
performance.isnull().sum() #Check if there are any missing values in the DataFrame.

Match 1    0
Match 2    0
Match 3    0
Match 4    0
dtype: int64

In [39]:
performance.dtypes # Display the data type of the elements in the DataFrame

Match 1    int64
Match 2    int64
Match 3    int64
Match 4    int64
dtype: object

In [41]:
performance.loc['Player 4']    #Retrieve the scores of "Player 4" across all matches

Match 1     80
Match 2     90
Match 3     60
Match 4    100
Name: Player 4, dtype: int64

In [43]:
performance['Match 4'] #Extract the scores of all players in "Match 2".

Player 1     25
Player 2     45
Player 3     15
Player 4    100
Player 5     75
Name: Match 4, dtype: int64

In [45]:
 performance.loc[["Player 1", "Player 3"],["Match 1", "Match 4"]]# Retrieve the scores of "Player 1" and "Player 3" for "Match 1" and "Match 4".

          Match 1  Match 4
Player 1       45       25
Player 3       20       15

In [47]:
performance.iloc[:3, :2]# Slice the DataFrame to get the first 3 players and the first 2 matches.

          Match 1  Match 2
Player 1       45       30
Player 2       60       50
Player 3       20       40

In [51]:
performance.loc[['Player 5'],['Match 3']]#Find the score of "Player 5" in "Match 3" using .loc or .iloc.

          Match 3
Player 5       40

In [55]:
performance.iloc[4, 2]#Find the score of "Player 5" in "Match 3" using .iloc.

40

In [85]:
performance.loc["Player 2", "Match 4"] = 50 # Display the updated DataFrame
print("Updated performance DataFrame:")
print(performance)

Updated performance DataFrame:
          Match 1  Match 2  Match 3  Match 4
Player 1       45       30       70       25
Player 2       60       50       20       50
Player 3       20       40       35       15
Player 4       80       90       60      100
Player 5       55       65       40       75

In [87]:
performance.loc['Player 6'] = [50, 40, 60, 70] #Add a new player, "Player 6", with scores [50, 40, 60, 70] in all matches.
print(performance)

          Match 1  Match 2  Match 3  Match 4
Player 1       45       30       70       25
Player 2       60       50       20       50
Player 3       20       40       35       15
Player 4       80       90       60      100
Player 5       55       65       40       75
Player 6       50       40       60       70

In [97]:
performance = performance + 10 #Add 10 bonus runs to all scores in the DataFrame
print(performance)

          Match 1  Match 2  Match 3  Match 4
Player 1       55       40       80       35
Player 2       70       60       30       60
Player 3       30       50       45       25
Player 4       90      100       70      110
Player 5       65       75       50       85
Player 6       60       50       70       80

In [99]:
performance.loc["Player 3"] -= 5
print(performance)

          Match 1  Match 2  Match 3  Match 4
Player 1       55       40       80       35
Player 2       70       60       30       60
Player 3       25       45       40       20
Player 4       90      100       70      110
Player 5       65       75       50       85
Player 6       60       50       70       80

In [101]:
#Calculate the percentage contribution of each player’s score in a match (max score = 120 per match)
percentage_contribution = (performance / 120) * 100
print(percentage_contribution)

            Match 1    Match 2    Match 3    Match 4
Player 1  45.833333  33.333333  66.666667  29.166667
Player 2  58.333333  50.000000  25.000000  50.000000
Player 3  20.833333  37.500000  33.333333  16.666667
Player 4  75.000000  83.333333  58.333333  91.666667
Player 5  54.166667  62.500000  41.666667  70.833333
Player 6  50.000000  41.666667  58.333333  66.666667

In [103]:
#Calculate total runs scored by each player across all matches
performance["Total Runs"] = performance.sum(axis=1)
print(performance["Total Runs"])

Player 1    210
Player 2    220
Player 3    130
Player 4    370
Player 5    275
Player 6    260
Name: Total Runs, dtype: int64

In [121]:
# 4. Determine the total runs scored in each match
total_runs_per_match = performance.drop(columns=["Total Runs"]).sum()

# 5. Find the player with the highest total runs
highest_scorer = performance["Total Runs"].idxmax()

# 6. Identify the match with the lowest total runs
lowest_scoring_match = total_runs_per_match.idxmin()
print(total_runs_per_match)
print(highest_scorer)
print(lowest_scoring_match)

Match 1    365
Match 2    370
Match 3    340
Match 4    390
dtype: int64
Player 4
Match 3